
NTDLS.StreamFraming/bin/

NTDLS.StreamFraming/obj/

.vs/

TestHarness/bin/

TestHarness/obj/

TestHarness.Query/bin/

TestHarness.Query/obj/

TestHarness.Simple/bin/

TestHarness.Simple/obj/
